<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Equipos</title>
<link rel="StyleSheet" href="css/estilos.css">
</head>
<body>
<div id="Contenedor"> <!-- Caja que contiene los elementos de body -->
		<header>
				<h1>Liga de Futbol Profesional</h1>
		</header>
		<nav> <!-- Menu de la pagina -->
				<ul>
					<li><a href="Index.html">Home</a></li>
					<li><a href="Fixture.html">Fixture y Resultados</a></li>
					<li><a href="Equipos.html">Equipos</a></li>
				</ul>
		</nav>
		<section id="Contenido"> <!-- Caja que contiene las historias de los clubes -->
				<h2>Equipos</h2>	
				<article id="Equipo">
					<img src="img/club.png" width="250px" height="250px" >
					<h3>CLUB ATLETICO RIVER PLATE</h3>
					<p>El Club Atlético River Plate, más conocido simplemente como River Plate, es una entidad polideportiva con sede en Buenos Aires, Argentina.El club fue fundado el 25 de mayo de 1901 en el barrio de La Boca, tras la fusión de los clubes Santa Rosa y La Rosales. Su nombre proviene de la antigua denominación que se le daba en inglés británico al Río de la Plata.Su principal disciplina es el fútbol masculino profesional, que milita actualmente en la Primera División de Argentina. Además, en el club se practican otras 65 disciplinas distintas, posee institutos educativos en todos los niveles académicos y fomenta actividades culturales y sociales de diversa índole.​
					</p>		
				</article>
				<article id="Equipo1">
					<img src="img/club1.png" width="250px" height="250px">
					<h3>CLUB ATLETICO BOCA JUNIORS</h3>
					<p>
					El Club Atlético Boca Juniors o simplemente Boca Juniors es una entidad deportiva argentina con sede en el barrio de La Boca, Buenos Aires. Fue fundado en dicho barrio el 3 de abril de 1905 por seis vecinos adolescentes hijos de italianos. El fútbol es su disciplina más destacada, aunque también compite a nivel profesional, nacional e internacionalmente, en baloncesto, voleibol, futsal y fútbol femenino, mientras que deportes como el boxeo, judo, karate, taekwondo, lucha, gimnasia rítmica y artística se practican a nivel amateur.
					</p>
				</article>
				<article id="Equipo2">
					<img src="img/club2.png" width="200px" height="200px">
					<h3>RACING CLUB DE AVELLANEDA</h3>
					<p>
					Racing Club, conocido como Racing Club de Avellaneda o simplemente Racing, es una entidad deportiva oriunda de Argentina, fundada el 25 de marzo de 1903, ubicada en la ciudad de Avellaneda, en el Gran Buenos Aires.Si bien su principal actividad deportiva es el fútbol masculino profesional, que milita en la Primera División, también se practican otros deportes profesionales como fútbol femenino, básquet, futsal y hockey, mientras que tenis, boxeo, vóley, handball, judo, patín artístico, aikido, gimnasia artística, taekwondo, muay thai, sipalki-do, fútbol playa, atletismo, natación y saltos ornamentales son deportes amateur.
					</p>
				</article>
				<article id="Equipo3">
					<img src="img/club3.png" width="200px" height="200px">
					<h3>CLUB ATLETICO INDEPENDIENTE</h3>
					<p>
					El Club Atlético Independiente, conocido popularmente como Independiente o por su sigla CAI, es una entidad deportiva de Argentina de la ciudad bonaerense de Avellaneda, situado en el sur del Gran Buenos Aires (GBA). Fue fundado el 1 de enero de 1905 por unos jóvenes empleados independistas del Club Maipú. El fútbol es su disciplina más destacada, cuyo primer equipo participa en la Superliga Argentina, aunque también se practican otras disciplinas deportivas a nivel amateur y semiprofesional.
					</p>
				</article>
		</section>
		<aside> <!-- Publicidad de la pagina -->
				<h2>Auspiciantes</h2>	
				<img src="img/logo.jpg" width="100%" height="23%">
				<img src="img/logo1.jpg" width="100%" height="23%">
				<img src="img/logo2.png" width="100%" height="23%">
				<img src="img/logo3.png" width="100%" height="23%">		
		</aside>
		<footer> <!-- Pie de la pagina -->
	<div id="formt"> <!-- Caja que contiene los elementos que conforma el pie de la pagina -->		 
		<ul>
			<li><img src="img/icono.png" ><p>388-4149489</p></li>
		
			<li><img src="img/icono1.png" width="25" height="25"><p>LaLiga</p></li>
		
			<li><img src="img/icono2.png"><p>LaLiga_F</p></li>	
			
			<li><h2>Avda.Libertad N°777 - Tel:388-4149489 </h2></li>
		</ul>
	</div>	
		</footer>
	</div>

</body>
</html>